@import "tailwindcss";
@import "@heroui/styles"; 

@theme {
  --color-primary: #0F172A;
  --color-secondary: #D97706;
  --color-neutralBg: #F8FAFC;
}

body {
  background-color: var(--color-neutralBg);
  color: var(--color-primary);
}